<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


    <mvc:default-servlet-handler/>

    <!--自动扫描-->
    <context:component-scan base-package="com.uu.controller"/>

    <!--ie执行ajax 避免返回json出现下载文件-->
    <!--不会后面看-->
    <bean id="MappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="MappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>



    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="prefix" value=""/>-->
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>

    </bean>


    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

    <!--启用MVC注解-->
    <mvc:annotation-driven/>
    
    <!--启用注解-->
    <context:annotation-config/>
    <!--静态资源处理-->
    <mvc:resources mapping="/css/**" location="/static/css/"/>
    <mvc:resources mapping="/lay/**" location="/static/lay/"/>
    <mvc:resources mapping="/font/**" location="/static/font/"/>
    <mvc:resources mapping="/images/**" location="/static/images/"/>
    <!--视频存放目录-->
    <mvc:resources mapping="/videoResource/**" location="/videoResource/"/>




</beans>